{% extends 'cart/base.html' %}
{% load static thumbnail %}
{% block title %}购物车{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/get_crsftoken.js' %}"></script>
    <script>
        const change_cart_url = "{% url 'cart:change_cart' %}";
    </script>
    <script src="{% static 'cart/js/rm_product.js' %}"></script>
{% endblock %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            {% if cart|length == 0 %}
                <div class="col-md-10">
                    <p>空空如也，<a href="{% url "shop:product_list" %}">去购物吧~</a></p>
                </div>
            {% else %}
                <div class="col-md-10">
                    <h1>购物车</h1>
                    <p>小提示：点击图片返回商品详情页</p>
                    <table class="cart">
                        <thead>
                        <tr>
                            <th></th>
                            <th>商品</th>
                            <th>数量</th>
                            <th>删除</th>
                            <th>单价</th>
                            <th>小计</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr id="tr-{{ product.id }}">
                                    <td>
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{% if product.image %}
{{ product.image|thumbnail_url:'product_in_cart' }}
                                {% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                                        </a>
                                    </td>
                                    <td>{{ product.name }}</td>
                                    <td>
                                        <form action="{% url 'cart:change_cart' %}" method="post">
                                            <input type="number" value="{{ item.quantity }}"
                                                   min="1" max="99" name="quantity">
                                            <input type="hidden" value="{{ product.id }}" name="product_id">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger" value="修改">
                                        </form>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger remove-btn" value="{{ product.id }}">
                                            移除
                                        </button>
                                    </td>
                                    <td class="num">￥{{ item.price }}</td>
                                    <td class="num">￥{{ item.total_price }}</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="total">
                            <td>合计</td>
                            <td colspan="4"></td>
                            <td class="num">￥<span id="total-price">{{ cart.get_total_price }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <form action="{% url 'cart:cart_detail' %}" method="post" class="form-inline text-right">
                        {{ coupon_form.code }}
                        {% csrf_token %}
                        <input type="submit" class="form-control" value="使用优惠劵">
                    </form>
                    <p class="text-right else-down">
                        <a href="{% url "shop:product_list" %}" class="button light">继续购物</a>
                        <a href="{% url 'order:create_order' %}" class="button btn btn-danger">结算</a>
                    </p>
                </div>
            {% endif %}
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}

{% block extra_vue %}
{% endblock %}