{% extends 'cart/base.html' %}
{% load static %}
{% block title %}购物车{% endblock %}

{# todo #}
{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>购物车</h1>
                <table class="cart">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit price</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{ product.image.url }}
                                {% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                                    </a>
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>
                                    {# todo #}
                                    <button class="btn btn-danger remove-btn">移除</button>
                                </td>
                                <td class="num">￥{{ item.price }}</td>
                                <td class="num">￥{{ item.total_price }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr class="total">
                        <td>Total</td>
                        <td colspan="4"></td>
                        <td class="num">￥{{ cart.get_total_price }}</td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-right">
                    <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
                    <a href="#" class="button">Checkout</a>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}