[[source]]

url="http://mirrors.aliyun.com/pypi/simple"
verify_ssl=false
name="aliyun"


[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
Markdown = "*"
setuptools = "*"
django-taggit = "*"
django-markdownx = "*"
Pillow = "*"
wheel = "*"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"
