.aside {
    margin-top: 20px;
    background-color: white;
}

article.article {
    line-height: 1.8;
}

p.extra-info {
    font-size: 0.8em;
}

article.index {
    margin: 20px 0;
    padding-top: 2px;
    padding-left: 20px;
    border-bottom: outset;
    background-color: white;
}

div.comment {
    padding-left: 20px;
}

p.comment-author {
    font-size: 0.8em;
    color: blue;
    font-weight: bolder;
    padding-top: 5px;
}

p.comment-body {
    padding-left: 28px;
}

.index-tags {
    font-size: 1.2em;
}

div.archive-date {
    font-size: 1.5em;
    font-weight: bolder;
}

article.archive-article {
    border: outset;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#like_article_btn {
    float: right;
}
