article.article {
    line-height: 1.8;
}

article.index {
    padding-left: 20px;
    border-bottom: outset;
    background-color: white;
}

div.comment {
    background-color: #a6e1ec;
    padding-left: 20px;
}

p.comment-author {
    font-size: 0.8em;
    color: blue;
    font-weight: bolder;
}

.tags {
    background-color: darkblue;
    color: ghostwhite;
    padding: 2px 4px;
    font-size: 1em;
}

.index-tags {
    font-size: 1.2em;
}

div.archive-date {
    font-size: 1.5em;
    font-weight: bolder;
}

article.archive-article {
    border: outset;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}

