.aside {
    margin-top: 20px;
}

p.extra-info {
    font-size: 0.8em;
}

article.index {
    padding-top: 2px;
    padding-left: 20px;
    border-bottom: outset;
}

div.comment {
    margin-top: 10px;
    padding-left: 20px;
}

p.comment-author {
    font-size: 0.8em;
    color: blue;
    font-weight: bolder;
    padding-top: 5px;
}

p.comment-body {
    padding-left: 28px;
}

.input_reply {
    width: 100%;
}

.replies-list {
    margin-left: 20px;
    border-left: #D9D9D9 2px solid;
    padding-left: 25px;
}

.index-tags {
    font-size: 1.2em;
}

div.archive-date {
    font-size: 1.5em;
    font-weight: bolder;
}

article.archive-article {
    border: outset;
    padding-left: 20px;
    margin-bottom: 20px;
}

#like_article_btn {
    float: right;
}

/* else */
button.reply {
    margin-bottom: 10px;
}

p.temp_reply {
    color: blue;
}
