body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    padding-top: 60px;
}

header {
    padding: 10px 100px;
    height: 60px;
    font-size: 14px;
    background: #12c064;
    color: #fff;
    border-bottom: 4px solid #1cdf78;
    overflow: auto;
}

.pag {
    margin: 40px 0;
    font-weight: bold;
}