body {
    margin-top: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    padding-top: 40px;
    min-height: 2000px;
    background-color: #f6f6f6;
}

nav {
    /*border-bottom: ridge 4px;*/
    font-size: 1.2em;
    font-weight: bolder;
}

.hello {
    font-size: 0.8em;
}

.pag {
    margin: 40px 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.messages {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.messages .success, .warning, .error, .info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

.messages .success {
    background: #81ce81;
}

.messages .warning {
    background: #de9404;
}

.messages .info {
    background: #faffae;
    color: #696b4e;
}

.messages .error {
    background: #a30029;
    color: #e9828e;
}

/* 圆形头像 */
.circle-avatar {
    border-radius: 50%;
}

a:link {
    color: blue
}

a:visited {
    color: purple
}

a:hover {
    color: #FF00FF
}

a:active {
    color: red
}