body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    padding-top: 70px;
    min-height: 2000px;
    background-color: #f6f6f6;
}

header {
    background-color: #12c064;
    color: #337ab7;
    height: 70px;
    padding: 10px 100px;
    border-bottom: ridge 4px;
    font-size: 1.2em;
    font-weight: bolder;
}

#hello {
    font-size: 0.8em;
}

.pag {
    margin: 40px 0;
    font-weight: bold;
}

.messages {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.messages .success, .warning, .error, .info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

.messages .success {
    background: #81ce81;
}

.messages .warning {
    background: #de9404;
}

.messages .info {
    background: #faffae;
    color: #696b4e;
}

.messages .error {
    background: #a30029;
    color: #e9828e;
}

/* 圆形头像 */
.circle-avatar {
    border-radius: 50%;
}