{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
    <article>
        {# 显示文章 #}
        <h1>{{ article.title }}</h1>
        <p>{{ article.publish|date:"Y M D" }} {{ article.author }}</p>
        <p>{{ article.content }}</p>

        <p><a href="{% url 'blog:share_article' id=article.id %}">分享文章</a></p>

        {# 新评论 #}

        {% if new_comment %}
            <h2>评论已添加</h2>
        {% else %}
            <h2>创建新评论：</h2>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="评论">
            </form>
        {% endif %}
        <br>
        {# 显示评论 #}

        {% for comment in comments %}
            <div class="comment">
                <p class="comment-author">
                    {{ comment.author }} {{ comment.created |date:'y/m/d h:i' }}
                </p>
                <p>{{ comment }}</p>
            </div>
        {% empty %}
            <p>暂无评论</p>
        {% endfor %}
    </article>

{% endblock %}