{% extends 'blog/base.html' %}
{% load static blog_tags avatar_tags static %}

{% block title %}{{ article.title }}{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/get_crsftoken.js' %}"></script>
    <script>
        let like_url = "{% url 'blog:user_like' %}";
        let reply_url = "{% url 'blog:reply' %}";
        let login_url = "{% url 'login' %}";
        let article_id = "{{ article.id }}";
        let login_status = "{{ user_logined }}";
    </script>
    <script src="{% static 'blog/js/likes.js' %}"></script>
    <script src="{% static 'blog/js/reply.js' %}"></script>
    <script src="{% static 'blog/js/toggle_reply.js' %}"></script>
{% endblock %}

{% block main %}
    <article>
        {# 显示文章 #}
        <h1>{{ article.title }}</h1>
        <p class="extra_info">
            <a href="{% url 'account:user_detail' article.author %}">
                {% avatar article.author 25 class="circle_avatar" %}
            </a>
            <a href="{% url 'account:user_detail' article.author %}">
                {{ article.author }}
            </a>
            {{ article.publish|date:"y/m/d" }}
            <span class="glyphicon glyphicon-comment dis" aria-hidden="true">{% comments_counts article %} </span>
            <span class="glyphicon glyphicon-eye-open dis" aria-hidden="true">{{ article.read_times }} </span>
            <span class="glyphicon glyphicon-thumbs-up dis" aria-hidden="true"><span
                    id="article_like_count">{% count_likes article %}</span></span>
            <span class="glyphicon glyphicon-pencil dis" aria-hidden="true">{{ article.content|length }}</span>
        </p>
        {% if article_author %}
            <p>
                <a href="{% url 'blog:update_article' article.id %}">修改文章</a>
            </p>
        {% endif %}
        <p>
            {% for tag in article.tags.all %}
                <a href="{% url 'blog:tag_index' tag.slug %}">
                    <span class="tags">{{ tag.name }}</span>
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p>{{ article.content|markdown_format }}</p>

        {# 分享文章 点赞 #}
        <div>
            <a href="{% url 'blog:share_article' id=article.id %}">分享文章</a>
            {# 点赞 #}
            <button {% if article|is_liked:request.user %}
                class="btn btn-default right_btn already_like"
            {% else %}
                class="btn btn-default right_btn"
            {% endif %}
                id="like_article_btn" value="{{ article.id }}">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
        </div>

        {# 新评论 #}
        <h2>创建新评论：</h2>
        <form action="." method="post" id="new_comment">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-default" value="评论">
        </form>
        <br>

        {# 显示评论 #}
        {% for comment in comments %}
            <div class="comment">
                <p class="comment_author">
                    <a href="{% url 'account:user_detail' comment.author %}">
                        {% avatar comment.author 25 class="circle_avatar" %}
                    </a>
                    <a href="{% url 'account:user_detail' comment.author %}">
                        {{ comment.author }}
                    </a>
                    {{ comment.created |date:'y/m/d h:i' }}
                </p>
                <p class="comment_body">{{ comment }}</p>

                {# 新回复 #}
                <div class="btn_up">
                    <button class="btn btn-default btn-xs reply" value="{{ comment.id }}">回复</button>
                    {# 点赞评论 #}
                    <button
                            {% if comment|is_liked:request.user %}
                                class="like_comment_btn btn btn-default btn-xs already_like"
                            {% else %}
                                class="like_comment_btn btn btn-default btn-xs"
                            {% endif %}
                                id="like_c_btn_{{ comment.id }}" value="{{ comment.id }}">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"><span
                                id="like_comment_count_{{ comment.id }}">{% count_likes comment %}</span></span>
                    </button>

                </div>
                {% with replies=comment.replies.all %}

                    {# 展示回复的开关 #}
                    {% if replies %}
                        <button class="btn btn-info btn-xs toggle_reply_btn right_btn" name="close" value=
                                "{{ comment.id }}">收起回复
                        </button>
                    {% endif %}
                    </div>

                    {# 回复列表 #}
                    <div id="replies-{{ comment.id }}" class="replies_list">
                        {% for reply in replies %}
                            <div class="replies">
                                {% with target=reply.reply_target %}
                                    <p>
                                        <a href="{% url 'account:user_detail' reply.author %}">
                                            {{ reply.author }}
                                        </a>
                                        {% if target != comment.author %}
                                            <a href="{% url 'account:user_detail' target %}">
                                                <span> @ {{ target }}</span>
                                            </a>
                                        {% endif %} :{{ reply }}
                                    </p>
                                    <p class="extra_info" id="reply-{{ reply.id }}">
                                        {{ reply.created|date:"y/m/d" }} {{ reply.created|time:"H:i" }}
                                        {# 回复回复 #}
                                        <button class="btn btn-default btn-xs re-reply" value="{{ reply.id }}">回复
                                        </button>
                                        {# 点赞回复 #}
                                        <button {% if reply|is_liked:request.user %}
                                            class="like_reply_btn btn btn-default btn-xs already_like"
                                        {% else %}
                                            class="like_reply_btn btn btn-default btn-xs"
                                        {% endif %}
                                            id="like_r_btn_{{ reply.id }}" value="{{ reply.id }}">
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"><span
                                                    id="like_reply_count_{{ reply.id }}">{% count_likes reply %}</span>
                                            </span>
                                        </button>
                                        {# 点赞数 #}
                                    </p>
                                {% endwith %}
                            </div>
                        {% empty %}
                        {% endfor %}
                    </div>
                {% endwith %}
        {% empty %}
            <p>暂无评论</p>
        {% endfor %}
        {% if page_toggle %}
            {% include 'paginator.html' with page=comments %}
        {% endif %}
    </article>
{% endblock %}
{% block aside %}
    <h2>相似文章</h2>
    <ul>
        {% for article0 in similar_articles %}
            <li>
                <a href="{{ article0.get_absolute_url }}">《{{ article0.title }}》</a>
            </li>
        {% endfor %}
    </ul>
    <h2>随机文章</h2>
    <ul>
        {% for article0 in random_articles %}
            <li>
                <a href="{{ article0.get_absolute_url }}">《{{ article0.title }}》</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

