{% extends 'base.html' %}

{% load static blog_tags %}

{% block extra_css %}
    <link href="{% static 'blog/css/blog.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/github.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% block main %}{% endblock main %}
            </div>
            <div class="col-md-1"></div>
            <aside class="col-md-4 aside">
                {% block aside %}

                {% endblock aside %}
            </aside>
        </div>
    </div>
{% endblock section %}