{% extends 'base.html' %}

{% load static blog_tags %}

{% block extra_css %}
    <link href="{% static 'blog/css/blog.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/github.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block header_left %}
    <li><a href="{% url 'blog:index' %}">博客</a></li>
    <li><a href="{% url 'blog:tags' %}">标签</a></li>
    <li><a href="{% url 'account:user_list' %}">用户</a></li>
{% endblock header_left %}

{% block header_right %}
    <li>
        <form class="navbar-form" method="get" action="{% url 'blog:search' %}">
            <input type="search" class="form-control" name="q" id="search_btn">
            <label for="search_btn"></label>
            <input type="submit" class="btn btn-default btn-sm" value="搜索">
        </form>
    </li>
    {% if request.user.profile.is_author %}
        <li><a href="{% url 'blog:new_article' %}">写文章</a></li>
    {% endif %}

{% endblock header_right %}


{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% block main %}{% endblock main %}
            </div>
            <div class="col-md-1"></div>
            <aside class="col-md-4 aside">
                {% block aside %}

                {% endblock aside %}
            </aside>
        </div>
    </div>
{% endblock section %}
{% block vue_base %} {% block extra_vue %} {% endblock %} {% endblock %}