{% extends 'blog/base.html' %}
{% load static %}
{% block title %}python{% endblock title %}



{% block main %}

    {% if tag %}
        <h2>标签：{{ tag.name }}</h2>
    {% endif %}

    {% for article in articles %}
        <article class="index">
            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            <p>
                {% for tag in article.tags.all %}
                    <a href="{% url 'blog:tag_index' tag.slug %}">
                        <span class="tags">{{ tag.name }}</span>
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>{{ article.publish|date:"y/m/d" }} {{ article.author }}</p>
            <p class="article">{{ article.content|truncatechars:120 }}</p>
        </article>
    {% endfor %}
    {% include 'paginator.html' with page=page_obj %}
{% endblock main %}


