{% extends 'blog/base.html' %}
{% load static blog_tags avatar_tags %}
{% block title %}博客首页{% endblock title %}



{% block main %}

    {% if tag %}
        <h2>标签：{{ tag.name }}</h2>
    {% endif %}

    {% for article in articles %}
        <article class="index">
            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            <p>
                {% for tag in article.tags.all %}
                    <a href="{% url 'blog:tag_index' tag.slug %}">
                        <span class="tags">{{ tag.name }}</span>
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p class="extra-info">
                {% avatar user 25 class="circle-avatar" %}
                {{ article.author }} {{ article.publish|date:"y/m/d" }}
                评论数 {% comments_counts article %}
                阅读数 {{ article.read_times }}
            </p>
            <p class="article">{{ article.content|markdown_format|truncatechars:120 }}</p>
        </article>
    {% endfor %}
    {% include 'paginator.html' with page=page_obj %}
{% endblock main %}


