{% extends 'blog/base.html' %}

{% load blog_tags %}


{% block main %}
    {% if query %}
        <h3>检索到的文章</h3>

        {% for result in page.object_list %}
            {% with article=result.object %}
                {% include 'blog/include/in_article.html' with article=article %}
            {% endwith %}
        {% empty %}
            <p>换个词试试？</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                Previous
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}
                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>没有查询到结果~</p>
    {% endif %}
{% endblock %}