{% extends 'blog/base.html' %}

{% block title %}修改文章{% endblock %}

{% block section %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>修改文章</h2>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-default" value="修改">
                </form>
                {{ form.media }}
            </div>
        </div>
    </div>
{% endblock %}
