{% extends "courses/base.html" %}

{% block title %}
    {{ course.title }}
{% endblock %}
{% block content %}
    {% with subject=course.subject %}
        <h1>
            {{ course.title }}
        </h1>
        <div class="module">
            <h2>概述</h2>
            <p>
                <a href="{% url "course:course_list_subject" subject.slug %}">{{ subject.title }}</a>.
                老师: {{ course.teacher.username }}
            </p>
            {{ course.overview|linebreaks }}
            <ol>
                {% for m in course.modules.all %}
                    <li>{{ m.title }}</li>
                {% endfor %}
            </ol>
        </div>
    {% endwith %}
{% endblock %}
