{% extends 'account/base.html' %}

{% load static avatar_tags account_tags blog_tags %}

{% block title %}{{ user.get_username }}{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/get_crsftoken.js' %}"></script>
    <script>
        let follow_url = "{% url 'account:follow_user' %}";
        let user_id = "{{ user.id }}";
        let login_url = "{% url 'login' %}";
        let login_status = "{{ login_status }}";
    </script>
    <script src="{% static 'account/js/follow.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="col-md-6">
        <h1>{{ user.get_username }}</h1>
        <div class="profile_info">
            {% avatar user 180 class='circle_avatar float' %}
        </div>
        <span class="count">
            粉丝数：<span id="total_fans">{% user_fans user %}</span>
        </span>
        <button class="btn btn-primary" id="follow_button"
                value="{% if request.user in user.fan0.all %}取消{% endif %}关注">
            {% if request.user not in user.fan0.all %}
                关注
            {% else %}
                取消关注
            {% endif %}
        </button>
    </div>
    <div class="col-md-6">
        <h2>他的文章</h2>
        {% for article in articles %}
            <ul>
                <li><a href="{{ article.get_absolute_url }}">《{{ article.title }}》</a></li>
            </ul>
        {% empty %}
            <p>他还没有任何文章。</p>
        {% endfor %}
        <h2>他的动态</h2>
        {% for action in actions %}
            <ul>
                <li>{{ action.updated|date:'y/m/d h:i' }} : {{ action.verb }}</li>
            </ul>
        {% empty %}
            <p>他还没有任何动态。</p>
        {% endfor %}
        {% if page_toggle %}
            {% include 'paginator.html' with page=actions %}
        {% endif %}
    </div>
{% endblock %}