{% extends 'account/base.html' %}

{% load avatar_tags %}

{% block main %}
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    {% avatar user 180 class='circle-avatar' %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.get_username }}</a>
                </div>
            </div>
        {% empty %}
            <p>您还没有关注任何人</p>
            <p>您还没有任何粉丝</p>
        {% endfor %}
    </div>
{% endblock %}