{% extends 'account/base.html' %}

{% load avatar_tags %}

{% block title %}用户列表{% endblock %}

{% block main %}
    <div id="people_list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    {% avatar user 180 class='circle_avatar' %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.get_username }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}