{% extends 'account/base.html' %}
{% load avatar_tags account_tags humanize blog_tags %}
{% block title %}个人中心{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('.circle_avatar').mouseover(function () {

            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="col-md-4">
        <h1>我的信息</h1>
        <div id="self_avatar">
            <a href="{% url 'account:change_avatar' %}">{% avatar user 180 class="circle_avatar" %}</a>
            <br>
        </div>
        {% if user.fan0.all %}
            <a href="{% url 'account:user_fans' user.username %}">
                <span class="count">粉丝：{% user_fans user %}</span>
            </a>
        {% else %}
            <span class="count">粉丝：{% user_fans user %}</span>
        {% endif %}
        {% if user.star0.all %}
            <a href="{% url 'account:user_stars' user.username %}">
                <span class="count">关注的人：{% user_stars user %}</span>
            </a>
        {% else %}
            <span class="count">关注的人：{% user_stars user %}</span>
        {% endif %}

    </div>
    <div class="col-md-6">
        <h2>动态</h2>
        {% for action in actions %}
            <ul>
                <li>{{ action.updated|naturaltime }} : {{ action.verb }}</li>
            </ul>
        {% empty %}
            <p>关注其他人，就可以在这里获得他的动态啦。</p>
        {% endfor %}
        {% if page_toggle %}
            {% include 'paginator.html' with page=actions %}
        {% endif %}
    </div>
    <div class="col-md-2">
        <h2>我的博客</h2>
        {% if request.user.is_authenticated %}
            <p>我已经写了{% article_counts request.user %}篇文章</p>
            <p><a href="{% url 'blog:my_articles' %}">我的文章</a></p>
            <p>我已经写了{% draft_counts request.user %}篇草稿</p>
            <p><a href="{% url 'blog:my_drafts' %}">我的草稿</a></p>
        {% endif %}
    </div>
{% endblock %}