{% load static avatar_tags %}
<!DOCTYPE html>
<html lang="cmn-Hans-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    {% block extra_code %}{% endblock %}
</head>

<body>

{% if messages %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="messages">
                {% for message in messages %}
                    <div  {% if message.tags %}
                        class="{{ message.tags }}"
                    {% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endif %}
{% block index %}

    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'index' %}">首页</a></li>

                    {% block header_left %} {% endblock %}

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    {% block header_right %} {% endblock %}

                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {% avatar request.user 25 class="circle_avatar" %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu ">
                                <li class="hello"><a href="{% url 'account:profile' %}">个人中心</a></li>
                                <li class="hello"><a href="{% url 'account:update_user' user.id %}">修改用户</a></li>
                                <li class="hello"><a href="{% url 'account:password_change' %}">修改密码</a></li>
                                <li class="hello"><a href="{% url 'logout' %}">注销登录</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'account:register' %}">注册</a></li>
                        <li><a href="{% url 'login' %}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}



<section>{% block section %}{% endblock %}</section>


<footer>
    {% block footer %}{% endblock %}
</footer>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/message_clear.js' %}"></script>
<script src="{% static 'js/vue.min.js' %}"></script>
{% block extra_js %}{% endblock %}
{% block vue_base %} {% endblock %}
</body>
</html>
