{% load avatar_tags blog_tags static %}

<article class="index">
    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    <p>
        {% for tag in article.tags.all %}
            <a href="{% url 'blog:tag_index' tag.slug %}">
                <span class="tags">{{ tag.name }}</span>
            </a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="extra-info">
        <a href="{% url 'account:user_detail' article.author %}">
            {% avatar article.author 25 class="circle_avatar" %}
        </a>
        <a href="{% url 'account:user_detail' article.author %}">
            {{ article.author }}
        </a>
        <span class="display_info">
        {{ article.publish|date:"y/m/d" }}
            <span class="glyphicon glyphicon-comment" aria-hidden="true">{% comments_counts article %} </span>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true">{{ article.read_times }} </span>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"><span
                    id="article_like_count">{% count_likes article %}</span></span>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">{{ article.content|length }}</span>
        </span>
    </p>
    <p>{{ article.content|markdown_format|truncatechars:120 }}</p>
</article>